global-include README
global-exclude *patch* *diff* .hg

include MANIFEST MANIFEST.in
include NEWS README.md AUTHORS
include gpl-2.0.txt
include requirements.txt

include _rinterface_cffi_build

include rpy/__init__.py
include rpy/situation.py

recursive-include rpy/robjects *.py
recursive-include rpy/ipython *.py
recursive-include rpy/interactive *.py
recursive-include rpy/rlike *.py

prune dist

include doc/Makefile
include doc/source/rpy2_logo.png

