Source: rpy2
Section: python
Priority: optional
Maintainer: Dirk Eddelbuettel <edd@debian.org>
Standards-Version: 3.8.0
XS-Python-Version: all
Build-Depends: debhelper (>= 7), r-base-dev (>= 2.8.0), python-all-dev (>= 2.3.5-10), python-numpy, python-numpy-dev, python-central (>= 0.5), python-sphinx (>= 0.4.3), texlive-base, texlive-latex-base, texlive-latex-extra, texlive-latex-recommended, texlive-fonts-recommended
Homepage: http://rpy.sourceforge.net/ 

Package: python-rpy2
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python-numpy, r-base-core (>= 2.8.0)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Suggests: python-rpy-docs
Description: Python interface to the GNU R language and environment (version 2)
 This Debian package provides RPy2, a very simple yet robust Python interface
 to the GNU R Programming Language. It can manage different types of R objects,
 and can execute arbitrary R functions, including graphic functions.
 Rpy2 is a rewrite and extension of the older RPy interface.

