#!/usr/bin/make -f
# debian/rules file for the Debian GNU/Linux python-rpy2 package
# Copyright 2004 - 2008 by Dirk Eddelbuettel <edd@debian.org>

project		:= rpy2
package		:= python-$(project)
debbase		:= $(CURDIR)/debian
#debtmp		:= $(debbase)/$(package)
#debdoc		:= debian/python-rpy-doc/usr/share/doc/python-rpy-doc
#lintiandir	:= $(debtmp)/usr/share/lintian/overrides

PYVERS		:= $(shell pyversions -r debian/control)

compilerflags	= -O2 -Wall

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

version := $(shell head -1 debian/changelog | perl -nle 'm/\((.*)-\d\)/ && print $$1')

showversion:
	@echo "Version is ${version}"

tarball:
	(cd .. && \
		tar czf tarballs/$(project)_${version}.orig.tar.gz ./$(project) \
			--exclude=.svn --exclude=debian/)

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	for python in $(PYVERS); \
		do CFLAGS="$(compilerflags)" $$python setup.py build \
			build_ext --include-dirs=/usr/share/R/include ; \
	done
#	(cd doc && make all)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	(cd doc/ && make clean && rm -vf manual.pdf manual.info manual.dvi \
		&& rm -vfr manual_html manual_html.tgz)
	for python in $(PYVERS); \
		do $$python setup.py clean; \
	done
	-rm -f `find . -name "*~"`
	-rm -rf debian/tmp debian/files* core debian/substvars
	-rm -f doc/html/function.html doc/html/packages.html
	-rm -f doc/rpy.dvi doc/rpy.pdf doc/rpy_html.tgz
	-rm -f config.cache config.status
	-rm -rf build/*
	-rm -rf rpy_version.pyc rpy_tools.pyc
	-rm -rf doc/rpy_html/*.html doc/rpy.info 
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	for python in $(PYVERS); \
		do $$python setup.py install --root=debian/$(package); \
	done

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
#	dh_installdebconf -a
	dh_installdocs -a	README NEWS	
	dh_installexamples -a	demos
#	dh_installmenu -a
#	dh_installemacsen -a
#	dh_installpam -a
#	dh_installmime -a
#	dh_installinit -a
#	dh_installcron -a
#	dh_installmanpages -a
#	dh_installinfo -a
#	dh_undocumented -a
	dh_lintian -a 
	dh_installchangelogs -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
#	dh_suidregister -a
#	dh_makeshlibs -a
#	dh_perl -a
	dh_pycentral -a
	dh_shlibdeps -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
